<h1>Hello World</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Arrival Time</th>
      <th scope="col">Gate</th>
      <th scope="col">Flight Number</th>
      <th scope="col">Aircraft Type</th>     
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">12:30 PM EST</th>
      <td>A3</td>
      <td>DL2334</td>
      <td>E75</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>